body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    display : flex;
    flex-direction : column;
    justify-content: start;
    align-items: center;
    font-size: 4rem;
    width: 370px;
    height: 600px;
    border: 1px solid rgb(201, 194, 194);
    border-radius:40px;
    box-shadow:-2px 8px 20px 15px rgba(184, 182, 182, 0.596);
 
}
img{
    width:90%;
    height:560px;
    margin: 20px;
    border-radius: 20px;
}

img:hover{
    width:100%;
    padding: 0px;
    margin: 0px;
    
}

.btn{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-right:0px;
    margin-bottom:20px;
    width:120px;
    height:40px;
    border: 1px solid rgba(65, 62, 62, 0.1);
    border-radius: 8px;
    background-color:whitesmoke;
    color:rgba(0, 0, 0, 0.87);
}

#black{
    color: white;
    background-color:rgba(19, 18, 18, 0.808)
}